@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using Microbenchmarks.Tests.TestModels
@model User

<html>
<head>
    <title>Some page for parse testing</title>
</head>
<body>
    <h2>Change</h2>
    <form>
        <div class="form-horizontal">
            <div asp-validation-summary="All"></div>
            <input type="hidden" asp-for="Id" />

            <div class="form-group">
                <label asp-for="Name" class="control-label col-md-2"></label>
                <div class="col-md-10">
                    <input type="text" asp-for="Name" />
                    <span validation-for="Name"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="DateOfBirth" class="control-label col-md-2"></label>
                <div class="col-md-10">
                    <input type="date" asp-for="DateOfBirth" asp-format="{0:yyyy-MM-dd}" />
                    <span asp-validation-for="DateOfBirth"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="YearsEmployeed" class="control-label col-md-2"></label>
                <div class="col-md-10">
                    @{
                        IEnumerable<SelectListItem> items = ViewBag.Items;
                    }
                    <select asp-for="YearsEmployeed" asp-items="items" size="2" class="form-control">
                        <optgroup label="Newby">
                            <option value="0">Less than 1</option>
                            <option value="1">1</option>
                        </optgroup>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                    </select>
                    <span asp-validation-for="YearsEmployeed"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Blurb" class="control-label col-md-2"></label>
                <div class="col-md-10">
                    <textarea rows="4" asp-for="Blurb"></textarea>
                    <span asp-validation-for="Blurb"></span>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
        </div>
    </form>

    <div>
        <a asp-action="Index">Back to list</a>
    </div>

    <footer>
        This is an exaggerated list of information for a test. The things required are:
        <ul>
            <li>Item 1</li>
            <li>Item 2</li>
            <li>Item 3</li>
            <li>Item 4</li>
            <li>Item 5</li>
            <li>Item 6</li>
            <li>Item 7</li>
            <li>Item 8</li>
            <li>Item 9</li>
            <li>Item 10</li>
            <li>Item 11</li>
            <li>Item 12</li>
            <li>Item 13</li>
            <li>Item 14</li>
            <li>Item 15</li>
            <li>Item 16</li>
            <li>Item 17</li>
            <li>Item 18</li>
            <li>Item 19</li>
            <li>Item 20</li>
            <li>Item 21</li>
            <li>Item 22</li>
            <li>Item 23</li>
            <li>Item 24</li>
            <li>Item 25</li>
            <li>Item 26</li>
            <li>Item 27</li>
            <li>Item 28</li>
            <li>Item 29</li>
            <li>Item 30</li>
            <li>Item 31</li>
            <li>Item 32</li>
            <li>Item 33</li>
            <li>Item 34</li>
            <li>Item 35</li>
            <li>Item 36</li>
            <li>Item 37</li>
            <li>Item 38</li>
            <li>Item 39</li>
            <li>Item 40</li>
            <li>Item 41</li>
            <li>Item 42</li>
            <li>Item 43</li>
            <li>Item 44</li>
            <li>Item 45</li>
            <li>Item 46</li>
            <li>Item 47</li>
            <li>Item 48</li>
            <li>Item 49</li>
        </ul>
    </footer>
</body>
</html>