@using StandardMvc.ViewData
@model SiteUser

@section header {
    <style type="text/css">
        #qux {
            display: none;
        }

            #qux.foo {
                color: red;
            }
    </style>
}

<h1>This is the Home Page</h1>
<p>This is from ~/Views/Home/Index.cshtml</p>
<p>Hello, @Html.ActionLink(Model.Name, "Index", "Users", new { id = Model.Id }) <i>Click your name to see the details.</i></p>